# settings/sample_env


DB_ACCESS_ACTIVE_CLIENT=""${DB_ACCESS_CLIENT}""
DB_ACCESS_ACTIVE_ENVIRONMENT="${DB_ACCESS_STARTING_ENV}"
DB_ACCESS_ENVIRONMENT_PREFIXES='{"staging_prefix": "${DB_ACCESS_STAGING_PROJECT_ID}.Staging",
 "prod_prefix":"${DB_ACCESS_PROD_PROJECT_ID}.Prod"}'

DB_HOST=localhost
DB_PORT=5432
DB_USER=<your username>
DB_PASSWORD=<your password>